$font-family: Arial,sans-serif;
$primary-color:#222222;
$formborders: #999999;
$primary-button-bg:#cccccc;
$address-bg:#cccccc;
$error-text:#a94442;
$error-bg:#f2dede;
$error-border:#ebccd1;

/* Break Points */
$small-device-max:767px;
$medium-device-min:768px;
$medium-device-max:1199px;
$large-device-min:1200px;
$content-max-width:1500px;
