<form role="search" action="/results" method="post" class="property-search">
  <div class="property-search__inpt-grp">
    <input type="search" name="q" class="property-search__field" aria-label="Search" aria-required="true" required>
    <div class="property-search__inpt-grp__cta">
      <button>Search</button>
    </div>
  </div>
</form>