<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <link rel="stylesheet" href="/css/normalize.css"> 
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <main>
            {{{ body }}}
        </main>
        <script src="javascript/search.js"></script>
    </body>
</html>

