    {{#if showResults}}
        <section class="results">
            <header class="mainheader">
                <span>{{ results.result_count}} properties found for {{query}}</span>
            </header>
            <ol>
                {{# each results.listing }}
                <li>
                    <article class="result">
                        <section class="result__content">
                            <header>
                                <h3>{{num_bedrooms}} bedroom {{ property_type }} for sale</h3>
                            </header>
                            <span class="result__price">&pound;{{formatCurrency price}}</span>
                            <p>{{ description }}</p>
                        </section>
                        <section class="result__photo">
                            <img src="{{ image_url }}">
                        </section>
                        <footer class="result__agent">
                            <div class="result__agent__details">
                                <span class="result__agent__logo">
                                    <img src="{{ agent_logo }}" />
                                </span>
                                <address>
                                    <span>{{ agent_name }}</span>
                                    <span>{{ agent_address }}</span>
                                    <span>T: {{agent_phone}}</span>
                                </address>
                            </div>
                        </footer>
                    </article>
                </li>
                {{/each}}
            </ol>
        </section>
        {{ else }}
            <div class="empty-result">
                <h2>No results found</h2>
                <p>Enter another location and search again</p>
            </div>
            {{> search-form }}
    {{/if}}
