html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica,Arial,freesans,sans-serif;
  color: #222000; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 1.8rem;
  line-height: 1.5; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* Custom styles */
main {
  padding: 1.6rem; }

/* Search */
.property-search h2 {
  font-size: 1.4em; }

.property-search__inpt-grp {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }
  .property-search__inpt-grp__cta {
    margin-left: 0.5rem;
    display: flex; }

.property-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  flex: 1 1 auto;
  text-transform: uppercase; }

.results ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.result {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-row-gap: 16px;
  margin: 1.6rem 0 3.2rem; }
  .result p {
    margin: 0.5rem 0; }
  .result h3 {
    margin-bottom: 0; }
  .result__content {
    grid-row: 2 / 3; }
  .result__price {
    font-size: 2rem;
    margin-bottom: 1.6rem;
    color: #f53900; }
  .result__photo {
    grid-row: 1 / 2; }
    .result__photo img {
      max-width: 100%;
      height: auto; }
  .result__agent {
    grid-row: 3 / 4; }
    .result__agent__details {
      padding: 0.5rem;
      background: #eee; }
      .result__agent__details address {
        margin: 0.5rem 0;
        font-size: 1.2rem; }
        .result__agent__details address span {
          display: block; }

.empty-result h2 {
  font-size: 1.46em;
  margin-bottom: 0.5rem; }

@media only screen and (min-width: 768px) {
  .results {
    padding: 2.4rem; }
  .result {
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
    margin-bottom: 2.4rem; }
    .result__photo {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .result__content {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .result__agent {
      grid-column: 1 / 4;
      grid-row: 2 / 3; }
      .result__agent__details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .result__agent__details address {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; } }

@media only screen and (min-width: 1280px) {
  main {
    font-size: 120%; }
  .results {
    padding: 3.2rem; }
  .result {
    grid-template-columns: repeat(5, 5fr);
    grid-column-gap: 3.2rem;
    grid-row-gap: 3.2rem; }
    .result__photo {
      grid-column: 1 / 3;
      grid-row: 2 / 3; }
    .result__content {
      grid-column: 3 / 5;
      grid-row: 2 / 3; }
    .result__agent {
      grid-column: 5 / 6;
      grid-row: 2 / 3; }
      .result__agent__details {
        display: block; }
        .result__agent__details address {
          display: block; }
          .result__agent__details address span {
            display: block; } }
