
@import 'variables'; 

html {
    font-size: 62.5%;  
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Helvetica,Arial,freesans,sans-serif;
    color: $primary-color; 
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; 
}

h1 { font-size: 4.0rem; line-height: 1.2; }
h2 { font-size: 3.6rem; line-height: 1.25;  }
h3 { font-size: 1.8rem; line-height: 1.5;  }
h4 { font-size: 2.4rem; line-height: 1.35;  }
h5 { font-size: 1.8rem; line-height: 1.5;  }
h6 { font-size: 1.5rem; line-height: 1.6; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* Custom styles */

main {
    padding: 1.6rem;
}

/* Search */

.property-search {
    h2 {
        font-size: 1.4em;
    }
    &__inpt-grp {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        &__cta {
            margin-left:0.5rem;
            display: flex;
        }
    }
    &__field {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 1%;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        flex: 1 1 auto;
        text-transform: uppercase;
    }
}

.results ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-row-gap: 16px;
    margin:1.6rem 0 3.2rem;
    p {
        margin: 0.5rem 0;
    }
    h3 {
        margin-bottom: 0;
    }
    &__content {
        grid-row: 2 / 3;
    }
    &__price {
        font-size: 2rem;
        margin-bottom: 1.6rem;
        color: $secondary-color;
    }
    &__photo {
        grid-row: 1 / 2;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__agent {
        grid-row: 3 / 4;
        &__details {
            padding: 0.5rem;
            background: $secondary-bg;
            address {
                margin: 0.5rem 0;
                font-size: 1.2rem; 
                span {
                    display: block;
                }
            }
        }
    }
    
}


.empty-result {
    h2 {
        font-size: 1.46em;
        margin-bottom: 0.5rem;
    }
}


@media only screen and (min-width: 768px) {
    
    .results {
        padding: 2.4rem;
    }
    
    .result {
        grid-template-columns: repeat(2, 2fr);
        grid-column-gap: 2.4rem;
        grid-row-gap: 2.4rem;
        margin-bottom: 2.4rem; 
        &__photo {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &__content {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__agent {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            &__details {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                address {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 100%;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) { 

    .results {  
        padding: 3.2rem; 
    }

    .result {
        grid-template-columns: repeat(5, 5fr);;
        grid-column-gap: 3.2rem;
        grid-row-gap: 3.2rem;
        &__photo {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        &__content {
            grid-column: 3 / 5;
            grid-row: 2 / 3;
        }
        &__agent {
            grid-column: 5 / 6;
            grid-row: 2 / 3;
            &__details {
                display: block; 
                address {
                    display: block;
                    span {
                        display: block;  
                    }
                }
            }
        }
    }
}